@import "tailwindcss";

@keyframes slidingDownArrow {
    0%{            
        transform: translate3d(0px, 0px, 0px);
        /* animation-timing-function: ease-in; */
    }

    50%{
        transform: translate3d(0px,30px,0px);
        
    }

    100%{
        transform: translate3d(0px, 0px, 0px);
        animation-timing-function: ease-in;
    }
}


#slideDownArrow{
    animation: slidingDownArrow 2s infinite;
}

/* Skills and Technologies */
.skills{
    @apply bg-white w-[80%] flex flex-col justify-center items-center rounded-xl mt-10 md:w-[20%];
}

#skillsAndTechnologies > li {
    @apply  bg-gray-100 rounded m-2 p-2;
}